<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.isport.sportpool">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:name=".SportPool_Application"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.isport.sportpool.SportPool_Logo"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="isport.co.th"
                    android:pathPrefix="/sportpool/"
                    android:scheme="http" />
            </intent-filter>

        </activity>


        <activity
            android:name="SportPool_Program"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="SportPool_Livescore"
            android:screenOrientation="portrait" />
        <activity
            android:name="SportPool_Result"
            android:screenOrientation="portrait" />
        <activity
            android:name="SportPool_SettingTeam"
            android:screenOrientation="portrait" />
        <activity
            android:name="SportPool_SettingTeam_Detail"
            android:screenOrientation="portrait" />
        <activity
            android:name="SportPool_SettingTeam_Favorite"
            android:screenOrientation="portrait" />
        <activity
            android:name="SportPool_LeagueTable"
            android:screenOrientation="portrait" />
        <activity
            android:name="SportPool_Analyse"
            android:screenOrientation="portrait" />
        <activity
            android:name="SportPool_AnalyseDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name="SportPool_Tded"
            android:screenOrientation="portrait" />
        <activity
            android:name="SportPool_SMSService"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="SportPool_ResultDetail"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="SportPool_MenuLeague"
            android:screenOrientation="portrait" />
        <activity
            android:name="SportPool_NewsDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SportPool_facebook"
            android:screenOrientation="portrait" />
        <activity
            android:name="SportPool_Active"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider320504274771237"
            android:exported="true" />

        <!--activity android:name="com.facebook.stream.FbConnect" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent">
        </activity-->
        <!--activity android:name="SportPool_SettingTeam_Program" android:screenOrientation="portrait" ></activity>
        <activity android:name="SportPool_SettingTeam_Score" android:screenOrientation="portrait" ></activity>
        <activity android:name="SportPool_Player" android:screenOrientation="portrait" ></activity>
        <activity android:name="SportPool_AnalyseDetail_HeadtoHead" android:screenOrientation="portrait" ></activity>
        <activity android:name="SportPool_AnalyseDetail_Team" android:screenOrientation="portrait" ></activity>
        <activity android:name="SportPool_AnalyseDetail_LeagueTable" android:screenOrientation="portrait" ></activity-->
        <!--activity android:name="SportPool_SMSPremium" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name="SportPool_SMSFree" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"></activity>-->

        <!--service
            android:name=".SportPool_Notify"
            android:enabled="true" /-->

        <!--meta-data
            android:name="com.bumptech.glide.samples.giphy.GiphyGlideModule"
            android:value="GlideModule" /-->

    </application>

</manifest>
